/* ========== Подвал ========== */
.footer {
  background-color: var(--gray-light);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  position: relative;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .social-links a {
  margin: 0 10px;
  color: var(--gray-dark);
}