/* ========== Товары ========== */
.products {
  padding: 30px 90px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 2px solid var(--black);
  padding: 15px;
  background-color: var(--white);
  text-align: center;
  transition: transform 0.2s ease;
  flex: 1 1 calc(25% - 20px); /* 4 товара в ряд */
  margin-bottom: 20px;
  position: relative; /* Для квадратной формы */
  overflow: hidden; /* Обрезает лишнее */
}

.product-card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product-image {
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--bg-main);
  transition: background-image 0.3s ease;
}

.product-card:hover .product-image {
  background-image: var(--bg-hover);
}

/* Для больших экранов */
@media (min-width: 992px) {
  .product-card img {
    height: 300px; /* Увеличим размер на десктопах */
  }
}

/* Для планшетов */
@media (max-width: 992px) {
  .product-card img {
    height: 250px; /* Средний размер для планшетов */
  }
}

/* Для телефонов */
@media (max-width: 768px) {
  .product-card img {
    height: 200px; /* Меньший размер для телефонов */
  }
}